{% extends "base/base.html" %}
{% block content %}

<div class="container">
        <div class="list-group">
            {% for object in object_list %}
                <a href="{{ object.get_absolute_url }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ object }}</h5>
                        <small class="text-muted">Дата создания: {{ object.date_of_creation }}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{ object.short_description }}...</p>
                        <small class="text-muted">Крайний срок: {{ object.deadline }}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <span class="badge bg-{% if object.status == 'Waiting' %}primary{% elif object.status == 'In progress' %}warning{% else %}success{% endif %} rounded-pill">{{ object.get_status_display }}</span>
                        <small class="text-muted">Завершена: {{ object.date_of_completion }}</small>
                    </div>
                </a>
            {% endfor %}
            {% if not object_list %}
                <h1 class="mx-auto">У вас сейчас нет ни одной задачи &#128577;</h1>
                <div class="d-grid col-6 mx-auto">
                    <a href="{% url 'todo:create' %}" class="btn btn-success btn-lg">Создать задачу</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}
